<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2 class="mt-4 mb-4">
        <i class="fas fa-edit"></i>
        投稿編集
      </h2>
      <%= form_with model: @post do |f| %>
        <%= render 'layouts/errors', obj: @post %>
        <%= f.label :"喫煙スポット" %><br>
        <%= f.text_field :title, class: "form-control" %><br>
        <div class="form-group row" id="star">
          <%= f.label :"レビュー" %>
          <%= f.hidden_field :star, id: :review_star %>
        </div>
        <script>
          $("#star").empty();
          $("#star").raty({
            size: 36,
            starOff: "<%= asset_path("star-off.png") %>",
            starOn: "<%= asset_path("star-on.png") %>",
            scoreName: "post[star]",
            half: false,
          });
        </script>
        <%= f.label :"紹介" %><br>
        <%= f.text_area :body, class: "form-control py-5" %><br>
        <%= f.label :"喫煙スポット画像" %><br>
        <%= f.file_field :spot_image, class: "mb-2" %><br>
        <%= f.label :"住所", class: "mt-4" %><br>
        <%= f.text_field :address, class: "form-control" %>
        <div class="row mt-3 mb-4">
          <%= f.submit :"更新する", class: "btn btn-outline-success rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>