<div class="row">
  <div class="image-skippr col-12">
    <div class="heading w-100 h-100 d-flex flex-column justify-content-center align-items-center">
      <h1>Let's Smooking!</h1>
    </div>
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="d-flex justify-content-center align-items-end col-12 mt-5">
      <div class="btn-wrapper col-10 col-md-4 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-block rounded-pill mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-block rounded-pill mb-3" %>
        </div>
        <div class="row">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning btn-block rounded-pill mb-3" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-2">
    <div class="col-lg-12 text-center">
      <h1 class="mt-3">喫煙スポットを見つけよう</h1>
      <p>
        「喫煙所がなかなか見つからない...」、「喫煙できて、且つおしゃれなカフェで休憩したい！」など、<br>
        喫煙スポットが減ってる今、いち早く探したり、お気に入りの喫煙スポットを共有する場所があれば良いと思い、<br>
        このサイトを立ち上げました。
      </p>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-lg-4 text-center">
      <img src="assets/head1.png", class="rounded-circle img-thumbnail">
      <h2 class="mt-3">SEARCH</h2>
      <p>
        地図検索から近くの喫煙スポットを<br>
        すぐに探すことができます。また、<br>
        投稿検索から気になるトピックに関する<br>
        投稿もチェックできます。
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="assets/head2.png", class="rounded-circle img-thumbnail">
      <h2 class="mt-3">LIKE</h2>
      <p>
        お気に入りの喫煙スポットの投稿を<br>
        見つけたら、いいね！を押すことで<br>
        いつでもマイページのいいね一覧から<br>
        確認することができます。
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="assets/head3.png", class="rounded-circle img-thumbnail">
      <h2 class="mt-3">FOLLOW</h2>
      <p>
        よく閲覧するユーザーをフォローする<br>
        ことも可能です。フォローしたユーザーの<br>
        投稿履歴からお気に入りの喫煙スポットを<br>
        探してみましょう。
      </p>
    </div>
  </div>
<span id="back">
  <%= link_to "#" do %>
    <%= image_tag asset_path("arrow.png"), class: "arrow" %>
  <% end %>
</span>

<script>
$(document).ready(function () {
  $("#theTarget").skippr({
    // スライドショーの変化 ("fade" or "slide")
    transition : 'slide',
    // 変化に係る時間(ミリ秒)
    speed : 1000,
    // easingの種類
    easing : 'easeOutQuart',
    // ナビゲーションの形("block" or "bubble")
    navType : 'block',
    // 子要素の種類('div' or 'img')
    childrenElementType : 'div',
    // ナビゲーション矢印の表示(trueで表示)
    arrows : true,
    // スライドショーの自動再生(falseで自動再生なし)
    autoPlay : true,
    // 自動再生時のスライド切替間隔(ミリ秒)
    autoPlayDuration : 3000,
    // キーボードの矢印キーによるスライド送りの設定(trueで有効)
    keyboardOnAlways : true,
    // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
    hidePrevious : false
  });
});
</script>