<% if @favorite_posts.blank? %>
<div class="container">
  <div class="row">
    <h1 class="mt-4 mb-4">
      <i class="fas fa-heart"></i>
      いいね一覧
    </h1>
    <table class="table table-hover table-inverse">
      <tbody>
        <% @favorite_posts.each do |f|%>
          <tr>
            <td><%= image_tag f.get_spot_image(100, 100) %></td>
            <td><%= link_to f.title, f %></td>
            <td>
              <div id="star-rate<%= f.id %>">
                <script>
                  $('#star-rate<%= f.id %>').empty();
                  $('#star-rate<%= f.id %>').raty({
                    size: 36,
                    starOff: '<%= asset_path('star-off.png') %>',
                    starOn: '<%= asset_path('star-on.png') %>',
                    half: false,
                    readOnly: true,
                    score: <%= f.star %>,
                  });
                </script>
              </div>
            </td>
            <% if user_signed_in? %>
              <td class="favorite-btn-<%= f.id %>"><%= render "public/favorites/favorite-btn", post_data: f %></td>
            <% else %>
              <td>♡<%= f.favorites.count %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mt-5">いいねされた投稿はありません</h2>
    </div>
  </div>
</div>
<% end %>