<div class="container">
  <div class="row">
    <h1 class="mt-4 mb-4">
      <i class="fas fa-users"></i>
      ユーザー一覧
    </h1>
    <table class="table table-hover table-inverse">
      <thead>
        <tr class="table-warning">
          <th>プロフィール画像</th>
          <th>ユーザーネーム</th>
          <th>フォロー</th>
          <th>フォロワー</th>
        </tr>
      </thead>
      <% @users.each do |user| %>
      <tbody>
        <tr>
          <td>
            <%= link_to(user) do %>
              <%= image_tag user.get_profile_image(50, 50), class: "rounded-circle" %>
            <% end %>
          </td>
          <td>
            <%= link_to(user) do %>
              <h5><%= user.username %></h5>
            <% end %>
          </td>
          <td><%= user.followings.count %></td>
          <td><%= user.followers.count %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>